body{
    margin: 0%;
    padding: 0%;
    background: black;
    background-image:url("phooto/nature.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
}
.style{
    font-family: "Arial", Helvetica, sans-serif;
    padding: 30px;
    color:rgb(147, 147, 205);
    font-weight: bold;
    position: absolute;
    top: 50%;
    bottom:50%;
    font-size: 50px;
    white-space: nowrap;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}